
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ödev Portalı</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            <div class="container">
                <div class="row">
                    <div class="card mt-5">
                        <div class="card-body">
                            <div class="card-title">Kayıt Ol</div>
                            <form asp-action="Index" asp-controller="Register">
                                <input type="hidden" value="@ViewBag.jwt" id="jwt" />
                                <div class="form-group mb-3">
                                    <label>Adı soyadı</label>
                                    <input type="text" class="form-control" name="adiSoyadi" id="adiSoyadi" />
                                </div>
                                <div class="form-group mb-3">
                                    <label>Numarası</label>
                                    <small>Eğer öğretmen rolü ile kayıt olacaksanız burayı boş bırakabilirsiniz.</small>
                                    <input type="text" class="form-control" name="numarasi" id="numarasi" />
                                </div>
                                <div class="form-group mb-3">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email" id="email" />
                                </div>
                                <div class="form-group mb-3">
                                    <label>Rolü</label>
                                    <select class="form-control" name="roleName" id="roleName">
                                        <option value="Ogrenci">Ogrenci</option>
                                        <option value="Ogretmen">Ogretmen</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Ders seçin</label>
                                    <select class="form-control" name="dersId" id="dersId">
                                        
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Şifre</label>
                                    <input type="text" class="form-control" name="sifre" id="sifre" />
                                </div>

                                <button type="submit" class="btn btn-primary giris">Kayıt ol</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApplication1
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            var jwt = $("#jwt").val();
            $.ajax({
                type: 'GET',
                url: 'https://localhost:7295/api/Dersler',
                headers: {
                    'Authorization': 'Bearer ' + jwt
                },
                success: function (res) {
                    console.log(res);
                    let selectElement = $('select[name="dersId"]');
                    for (let i = 0; i < res.length; i++) {

                        let id = res[i].id;
                        let dersAdi = res[i].dersAdi;
                        let optionElement = $('<option></option>').attr('value', id).text(dersAdi);
                        selectElement.append(optionElement);
                    }
                   
                }
            })
        })
    </script>

</body>
</html>

